*.pyc
/ass2/sampleParser.py
*.data
*.lprof
sample_data
/ass2/output
/ass2/output.txt
/ass3/backup_output
/ass3/FILE_COUNT
U096857U.zip
*.prof
/ass4/project/library/built
/ass2/todo.org_archive
/ass3/new_output
/ass3/output
/ass3/output.txt
/ass3/sample_output
/ass3/todo.org_archive
/ass4/project/processed/*
/ass4/project/FILE_COUNT
